/*
 * 
 * Preview list css
 * 
 */


/*Album
 */
.mediasharex_preview_album_thumbnail-list {
margin-bottom:20px;
}

.mediasharex_preview_album_thumbnail-list_image_box{
 float:left;
 position:relative;	
}

.mediasharex_preview_album_thumbnail-list_image_icon{
 position:absolute;
 top:0;
 left:0;	
}

.mediasharex_preview_album_thumbnail-list_image{
 position:absolute;
 top:55px;
 left:0;	
}

.mediasharex_preview_album_thumbnail-list_right{
 float:left;	
 margin-left:10px;	
}

/*Media
 */
.mediasharex_preview_media_thumbnail-list {
margin-bottom:40px;	
}

.mediasharex_preview_media_thumbnail-list_image {
float:left;
margin-right:20px;	
}

.mediasharex_preview_media_thumbnail-list_title {
font-weight:bold;	
}
.mediasharex_preview_media_thumbnail-list_description {
font-size: 0.9em !important;	
}