#mediasharex {
	color: #000000;	
}

#mediasharex_info {	

}

#mediasharex_info {	

}
/*
 * 
 * Admin Documentation pages
 * 
 */
#mediasharex_admin_documentation{
	font-size: 0.9em;
	background-color: #FAFBFC;
	border: 1px solid #E0E8EF;
	color: #505050;
	line-height: 1.5em;
	padding: 1em;
	margin-bottom: 1em;	
}

/*
 * 
 * Admin Docs
 * 
 */


#mediasharex_admin_info_docs{

}
#mediasharex_admin_info_docs_content{
background: #fff;
}

#mediasharex_admin_info_docs_form{


}

#mediasharex_admin_info_docs_file_content{

}

#mediasharex_admin_info_docs_directory_tree{
	font-size: 0.9em;
	background-color: #FAFBFC;
	border: 1px solid #E0E8EF;
	color: #505050;
	line-height: 1.5em;
	padding: 1em;
	margin-bottom: 1em;	
}

#mediasharex_admin_info_docs_directory_tree ul{
list-style:none;
}



/*  
 * Display album
 */
.mediasharex_display_album {
	position:relative;
}

.mediasharex_display_album_thumbnail {
	top:50px;
	left:10px;
	position:absolute;
	z-index:10;
	color:#fff;	
}

/*  
 * Display album
 */
.mediasharex_display_media {
	position:relative;
}

.mediasharex_display_media_thumbnail {
	top:10px;
	left:10px;
	position:absolute;
	z-index:10;
	color:#fff;	
}


/*
 * 
 * Plugins
 * 
*/

#mediasharex-plugin-albumtree ul{
 list-style: none !important;	
}

ul.mediasharex-plugin-albumtree {
 list-style: none;
 	font-size: 0.9em;
	background-color: #FAFBFC;
	border: 1px solid #E0E8EF;
	color: #505050;
	line-height: 1.5em;
	padding: 1em;
	margin-bottom: 1em;		
}

ul.mediasharex-plugin-albumtree li{

}