/*
 * 
 * old to remove
 * 
*/
#mediasharex {
	color: #000000;	
}
#mediasharex h1{
 	font-family: "SansBold";
 	font-size:45px;		
}
#mediasharex h2{
 	font-family: "SansRegular";
 	font-size:37px;
 	color:#ccc;		
}
#mediasharex h3{
 	font-family: "SansBold";
 	font-size:20px;		
}
#mediasharex p{
 	font-size:15px;
 	font-family: "Trebuchet MS";
}
#mediasharex_header {
	margin-left:20px;	
}
.mediasharex_img {
	height: 53px;
	float: left;
	background: white;		
}
/*
 * 
 * Title
 * 
*/
#mediasharex_title {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0;
    padding: 0;
    width:100%;
}
#mediasharex_title h2 {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 0;
    padding: 15px;
    padding-top: 18px;
    padding-left:0px;
}
/*
 * 
 * Menu
 * 
*/
#mediasharex_menu {	

}
#mediasharex_menu h1{	
	font-size:2.5em !important;
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	margin: 0;
	padding: 15px;
	padding-top: 18px;
	padding-left: 0px;
	text-shadow: 1px 1px 1px #ccc;
	color:#333 !important;
}
#mediasharex_menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;	
}
#mediasharex_menu ul li{
 	float:left;
 	margin: 0px;
 	padding: 0px;
}
.mediasharex_menu_link{

}
.mediasharex_menu_link a {
	display: block;
	padding: 10px 10px 7px 10px;
	text-transform: lowercase;
	color: #999;
}
.mediasharex_menu_link a:hover {
	color: #333;
}

.z-blockposition-mediasharexstats {
	display:inline;
	margin-top:0px;
	font-size: 2.0em !important;	
}
/*
 * 
 * Album categories
 * 
*/
#mediasharex_categories_box {
	height:200px;
	clear:left;	
}
#mediasharex_cats{
	list-style:none;
	margin:0px;
}
#mediasharex_cats li{
	list-style:none;
	margin:0px;
	padding:5px;
	padding-left:15px;
	border-bottom:1px solid #fff;
	background:#FAF4F4;
}
#mediasharex_cats li:hover{
	background:#F7C6C6;
}
#mediasharex_cats li a{
	display:block;
	width:100%;
	font-size: 1.3em;
}
li#current_cat {
   	background:#F7C6C6;
}

#mediasharex_topics{
	list-style:none;
	margin:0px;	
}
#mediasharex_topics li{
	list-style:none;
	margin:0px;
	padding:5px;
	padding-left:15px;
	border-bottom:1px solid #fff;
	background:#F4F7FA;	
}
#mediasharex_topics li:hover{
	background:#CCE1F7;
}
#mediasharex_topics li a{
	display:block;
	width:100%;
	font-size: 1.3em;
}
li#current_topic {
	background:#CCE1F7;	
}
.mediasharex_topicsv{
	list-style:none;
	margin:0px;	
}
.mediasharex_topicsv li{
	list-style:none;
	margin:0px;
	padding:5px;
	padding-left:15px;
	border-bottom:1px solid #fff;
	background:#F4F7FA;	
}
.mediasharex_topicsv li:hover{
	background:#CCE1F7;
}
.mediasharex_topicsv li a{
	display:block;
	width:100%;
	font-size: 1.3em;
}
#mediasharex_topics1 {
		
}
#mediasharex_topics2 {
	margin-left:20px;
}
#mediasharex_topics3 {
	margin-left:20px;
}
#mediasharex_categories {
	margin-top:50px;
	margin-bottom:50px;			
}
#mediasharex_categories h2{
	color:#bbb;			
}
/*
 * 
 * Media categories
 * 
*/
#mediasharex_categories_box {
	height:200px;
	clear:left;	
}

/*
 * 
 * Search
 * 
*/
#mediasharex_search {		
}
.mediasharex_searchbt {
	padding:5px;
    border: 1px solid #eee;
	color: #ccc;
}
.mediasharex_searchinput {
    padding:5px;
    border: 1px solid #eee;
    color: #ccc;
    margin:0px;
    margin-left:15px;
}
/*
 * 
 * Previews bar move to previews css
 * 
*/
#mediasharex_previews_bar{
text-align:right;
}
#mediasharex_previews_bar i{
font-size:36px;
}



/*  
 * Home
 */
#mediasharex_home_picture_big{
	height:415px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);	
}
#mediasharex_home_picture_right_1 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
}

#mediasharex_home_picture_right_2 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
}

#mediasharex_home_picture_right_3 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	clear:right;
}

#mediasharex_home_picture_left_1 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	margin-right:18px;
}

#mediasharex_home_picture_left_2 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	margin-right:18px;
}

#mediasharex_home_picture_left_3 {
	height:180px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	
}

.mediasharex_home_pictures_popular{
	height:150px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	margin-right:10px;		
}

.mediasharex_home_videos_popular{
	height:150px;
	background:#eee;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);
	margin-right:10px;		
}
/*  
 * Browse
 */

/*  
 * Explore
 */












/*  
 * Add/Edit Album
 */

#mediasharex_add_album{
	background:#fff;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);	
}
#mediasharex_modify_album{
	background:#fff;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);			
}











/*  
 * Add/Edit Media
 */

#mediasharex_add_media{
	background:#fff;
	padding:7px;
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);	
}

.mediasharex_source_text_field {
 border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    padding:7px;
    font-size:1.2em;	
}

.mediasharex_source_upload_field {
 border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;	
	
}


#mediasharex_modify_media{
	background:#fff;
	padding:7px;	
	margin:15px 0;
	border: 1px solid #000;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.65);			
}














/*  
 * Display album
 */
.mediasharex_display_album {
	position:relative;
}
.mediasharex_display_album_thumbnail {
	top:50px;
	left:10px;
	position:absolute;
	z-index:10;
	color:#fff;	
}
/*  
 * Display media
 */
.mediasharex_display_media {
	position:relative;
}

.mediasharex_display_media_thumbnail {
	top:30px;
	left:10px;
	position:absolute;
	z-index:10;
	color:#fff;	
}
/*  
 * Display 
 */
#mediasharex_display {
 	margin:0 auto;		
}
#mediasharex_display h1{
 	font-family: "SansRegular";
 	font-size:45px;		
}
#mediasharex_display h2{
 	font-family: "SansRegular";
 	font-size:27px;		
}
#mediasharex_display h3{
 	font-family: "SansRegular";
 	font-size:20px;		
}
#mediasharex_display p{
 	font-size:15px;
}
#mediasharex_display_item{
		
}
#mediasharex_display_item_title {
 	font-size:2.9em;	
}

#mediasharex_display_item_catinfo {
	margin-bottom:15px;
	float:left;	
}

#mediasharex_display_item_saleinfo{
 	color:#ccc;
 	font-size:1.6em;
 	margin-top:15px;
 	line-height:1.3em;	
}

#mediasharex_display_item_img {
 	width:280px;	
}

.mediasharex_display_item_img_carousel{
	width:160px;	
}
#mediasharex_display_item_img_note {
	background:#eee;
	padding:3px;	
}

#mediasharex_display_item_right {
 	clear:right;	
 	margin-left:20px;
}

#mediasharex_display_item_teaser {
 	
	
}

#mediasharex_display_item_teaser_text {
 	font-size:2.3em;
 	line-height:1em;		
}

#mediasharex_display_item_options {
	margin-top:10px;
	margin-bottom:10px;	
	
}

#mediasharex_display_item_info {
	color:#ccc;
	padding:3px;	
}

#mediasharex_display_item_content {
	font-size:1.3em;
	line-height:1.1em;	
}
.mediasharex_display_member {
	width:45px;
	height:45px;
	float:left;	
}
.mediasharex_display_member img{
	width:45px;
	height:45px;
}

